<div class="flashCardContainer">
    <div [ngClass]="isFlipped ? 'flipped' : ''" class="card" (click)="toggleFlip()">
        <div class="front">
            <p>{{question}}</p>
        </div>
        <div class="back">
            <p>{{answer}}</p>
        </div>
    </div>
</div>
<div class="actionsWrapper">
    <a *ngIf="learnMoreUrl" [href]="learnMoreUrl" target="_blank" class="learnBtn">Learn more</a>
    <button *ngIf="currentTasksObject" (click)="handlePracticeClick()" class="practiceBtn" title="Practice"><i class="fa-solid fa-keyboard"></i></button>
</div>
