.flashCardContainer {
    min-width: 500px;
    min-height: 280px;
    display: block;
    position: relative;
    perspective: 800px;
    border-radius: 4px;
}

@media (max-width: 600px) {
    :host {
        width: 100%;
    }

    .flashCardContainer {
        min-width: auto;
        width: 100%;
    }
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background-color: #1F3A93;
    color: #fff;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.actionsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 55px;
    flex-wrap: wrap;
}

.learnBtn {
    margin: 0;
}

.practiceBtn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-left: auto;
}

@media (max-width: 450px) {
    .front,
    .back {
        font-size: 20px;
    }
}

.back {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}