.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
}

@media (max-width: 900px) {
    .wrapper {
        padding-left: 0;
    }
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

h2, .tasks p {
    color: #223434;
}

h2 {
    margin-bottom: 42px;
    text-align: center;
    transform: translateY(-30px);
    opacity: 0;
}

.tasks {
    transform: translateY(30px);
    opacity: 0;
}

.tasks p {
    margin-bottom: 36px;
    line-height: 26px;
    text-align: center;
    font-size: 20px;
}