.pageContainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

button {
    padding: 10px;
    border-radius: 6px;
    background-color: #1F3A93;
    color: rgb(255, 252, 252);
    transition: 0.3s;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    color: #2191FB;
}