.pageContainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
}

@media (max-width: 900px) {
    .pageContainer {
        flex-direction: column;
    }
}

.content {
    flex: 1;
}