:host {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: #1F3A93;
}

@media (max-width: 550px) {
    .wrapper {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .wrapper {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-align: center;
    }
}

