:host {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: #1F3A93;
}

@media (max-width: 550px) {
    .wrapper {
        justify-content: center!important;
    }
}

@media (max-width: 400px) {
    .wrapper {
        font-size: 14px!important;
    }
}

@media (max-width: 340px) {
    .wrapper p {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
        gap: 5px!important;
        text-align: center!important;

    }
}

