<div class="wrapper">
    <p *ngIf="!currentFlashcard" class="emptyInfo">Sorry, no flashcards available in this category.</p>
    <div *ngIf="currentFlashcard" class="innerWrapper">
        <button class="favBtn" *ngIf="!isFlashcardFavorite" (click)="handleAddToFav()"><i
                class="fa-regular fa-heart"></i></button>
        <button class="favBtn filled" *ngIf="isFlashcardFavorite" (click)="handleRemoveFav()"><i
                class="fa-solid fa-heart"></i></button>
        <app-flashcard></app-flashcard>
    </div>
    <button *ngIf="currentFlashcard" (click)="handleDraw()">DRAW</button>
</div>