.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

button {
    padding: 10px;
    border-radius: 6px;
    background-color: #1F3A93;
    color: rgb(255, 252, 252);
    transition: 0.3s;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    color: #2191FB;
}

.favBtn {
    padding: 0;
    border-radius: 0;
    background-color: unset;
    color: rgb(255, 252, 252);
    transition: 0.3s;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 0 20px 20px auto;
}

.filled {
    color: #1F3A93;
}

@media (max-width: 600px) {
    .innerWrapper {
        width: 100%;
    }
}