.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.actions {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-end;
}

button {
    padding: 10px;
    border-radius: 6px;
    background-color: #1F3A93;
    color: rgb(255, 252, 252);
    transition: 0.3s;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    color: #2191FB;
}

.favBtn {
    padding: 0;
    border-radius: 0;
    background-color: unset;
    color: rgb(255, 252, 252);
    transition: 0.3s;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin-left: 20px;
}

.filled {
    color: #1F3A93;
}

.emptyInfo {
    color: white;
    font-size: 26px;
    text-align: center;
}

.addCustomBtn {
    opacity: 0.5;
    margin: 0;
}

.addCustomBtn:hover {
    opacity: 1;
}

.single {
    font-size: 22px;
}

@media (max-width: 600px) {
    .innerWrapper {
        width: 100%;
    }
}