.headerWrapper {
    width: 100%;
    background-color: #1F3A93;
    color: white;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 40px;
}

h1 span {
    color: #2191FB;
}

.slogan {
    font-size: 23px;
}