.headerWrapper {
    width: 100%;
    background-color: #1F3A93;
    color: white;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 40px;
    display: flex;
    animation: rotate 0.7s forwards;
    animation-delay: 1.3s;
}

h1 .right {
    color: #2191FB;
}

.left {
    transform: translateX(-60px);
}

.right {
    transform: translateX(60px);
}

.left,
.right {
    display: block;
    animation: animateHeader 1.5s ease-in-out forwards;
    opacity: 0;
}

.slogan {
    font-size: 23px;
}

@media (max-width: 370px) {
    .slogan {
        font-size: 18px;
    }
}

@keyframes animateHeader {
    30% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    80% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
  }

/* @keyframes animateHeader {
    30% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    80% {
        transform: translateX(0);
    }

    90% {
        transform: rotate(360deg);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */