* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(33, 145, 251);
    background: linear-gradient(45deg, rgba(33, 145, 251, 1) 17%, rgba(19, 193, 228, 1) 100%);
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

.learnBtn, .addCustomBtn, .backToFav {
    display: block;
    text-decoration: none;
    margin: 10px auto 0 10px;
    color: #1F3A93;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.learnBtn:hover, .addCustomBtn:hover, .backToFav {
    opacity: 0.7;
}

.show {
    animation: show 0.5s forwards;
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}