.navWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-self: flex-start;
    padding-top: 20px;
}

@media (max-width: 900px) {
  .navWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media (max-width: 400px) {
  .navWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

a {
    color: white;
    text-decoration: inherit;
    font-size: 30px;
    background-color: #1F3A93;
    border-radius: 8px;
    padding: 15px;
    transition: 0.3s;
  }

  @media (max-width: 400px) {
    a {
      font-size: 22px;
    }
  }

  a:hover {
    color: #2191FB;
  }

  .active {
    opacity: 0.7;
  }