<nav>
    <div class="navWrapper">
        <a routerLink="/css" routerLinkActive="active" (click)="handleClick('css')">CSS</a>
        <a routerLink="/javascript" routerLinkActive="active" (click)="handleClick('javascript')">Javascript</a>
        <a routerLink="/react" routerLinkActive="active" (click)="handleClick('react')">React / React Native</a>
        <a routerLink="/angular" routerLinkActive="active" (click)="handleClick('angular')">Angular</a>
        <a routerLink="/favorites" routerLinkActive="active" (click)="handleClick('favorites')">Favorites</a>
    </div>
</nav>
