.navWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-self: flex-start;
}

a {
    color: white;
    text-decoration: inherit;
    font-size: 30px;
    background-color: #1F3A93;
    border-radius: 8px;
    padding: 15px;
    transition: 0.3s;
  }

  a:hover {
    color: #2191FB;
  }

  .active {
    opacity: 0.7;
  }