<div class="wrapper">
    <div>
        <div class="rotationWrapper">
            <i class="fa-solid fa-arrow-left arrow"></i>
        </div>
        <p class="leftInfo">Choose a category on the left to draw a random flashcard</p>
        <p class="topInfo">Choose a category from the top to draw a random flashcard</p>
    </div>
    <div>
        <i class="fa-solid fa-rotate rotate"></i>
        <p>Click on the flashcard to flip it</p>
    </div>
    <div>
        <i class="fa-solid fa-heart"></i>
        <p>Add any flashcard to favorites or even create your custom one!</p>
    </div>
    <div>
        <i class="fa-solid fa-keyboard"></i>
        <p>Under many flashcards you will see "practice keyboard" button. Click on it to train and sharpen your skills</p>
    </div>
</div>