<div class="wrapper">
    <form>
        <div class="inputWrapper">
            <label for="question">Question</label>
            <textarea
            id="question"
            placeholder="Max. 264 characters"></textarea>
        </div>
        <div class="inputWrapper">
            <label for="answer">Answer</label>
            <textarea
            id="answer"
            placeholder="Max. 264 characters"></textarea>
        </div>
        <div class="inputWrapper">
            <label for="learnMore">Learn more URL Adress (optional)</label>
            <input
            id="learnMore"
            placeholder="Provide URL or leave it empty" />
        </div>
        <button class="addCustomBtn">Add to favorites</button>
    </form>
</div>
