.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
}

@media (max-width: 900px) {
    .wrapper {
        padding-left: 0;
    }
}

form, .innerWrapper {
    width: 100%;
    max-width: 600px;
}

.innerWrapper {
    display: flex;
}

.inputWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

label {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

textarea, input {
    width: 100%;
    resize: none;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: #1F3A93;
    color: white;
    font-size: 18px;
}

input {
    height: initial;
    border: transparent;
}

::placeholder {
    font-size: 14px;
}

.addCustomBtn {
    border: none;
    background-color: transparent;
}

@media (max-width: 450px) {
    .addCustomBtn {
        margin-left: auto;
        margin-right: auto;
    }
}

.addCustomBtn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.invalid {
    border: 1px solid yellow;
}

.backToFav {
    margin-bottom: 20px;
}